<div class="container">
  <h1 class="title">お問い合わせ</h1>
  <p>質問やご意見がある場合は、以下の方法でお問い合わせください。</p>
  <ul>
    <li><strong>メール</strong>: shimiandeyitian@gmail.com</li>
  </ul>
  <p>お問い合わせページから直接ご連絡いただくこともできます。</p>

  <div class="buttons">
    <%= link_to "戻る", root_path, class: "button is-light" %>
  </div>
</div>
