<div class="container">
  <h1 class="title">プライバシーポリシー</h1>
  <p>私たちは、あなたのプライバシーを尊重し、あなたの情報を保護することを約束します。このポリシーは、私たちがどのように情報を収集し、使用し、保護するかを説明します。</p>
  <ul>
    <li><strong>情報の収集</strong>: 当サイトでは、ユーザーが登録する際に提供する情報を収集します。</li>
    <li><strong>情報の使用</strong>: 収集した情報は、サービスを提供し、改善するために使用されます。</li>
    <li><strong>情報の保護</strong>: 私たちは、情報の不正アクセスから保護するために、適切なセキュリティ対策を講じています。</li>
  </ul>
  <p>詳しくは、プライバシーポリシーのページをご覧ください。</p>
  
  <div class="buttons">
    <%= link_to "戻る", root_path, class: "button is-light" %>
  </div>
</div>
