<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6">自分がアップロードした書籍</h1>

  <% if @books.empty? %>
    <p class="text-gray-600">まだ書籍をアップロードしていません。</p>
  <% else %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <% @books.each do |book| %>
        <div class="bg-white shadow-md rounded-lg p-6">
          <h2 class="text-xl font-semibold mb-2"><%= book.title %></h2>
          <p class="text-gray-600 mb-2">教派: <%= book.sect %></p>
          <p class="text-gray-600 mb-4">番号: <%= book.number %></p>
          <div class="flex justify-between items-center">
            <%= link_to book.file.url, download: '', class: "flex items-center text-green-500 hover:text-green-700" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
              ダウンロード
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
