<h1>仏教仲間探し</h1>

<% if @tagged_users.any? %>
  <% @tagged_users.each do |user| %>
    <div>
      <strong><%= user.username %></strong><br>
      <p>标记的佛教场所：<%= link_to @buddhist_site.name, buddhist_site_path(@buddhist_site) %></p>
      
      <!-- 使用 conversations 的 create 路由，并传递 user_id 参数 -->
      <%= link_to "チャット", buddhist_site_conversations_path(@buddhist_site, user_id: user.id), method: :post, class: "button is-primary" %>
      
    </div>
  <% end %>
<% else %>
  <p>この仏教施設には他のユーザーのマークがありません。</p>
<% end %>
